.create-film {
  width: 100%;
  height: 100%;

  &-container {
    max-width: 888px;
    margin: 30px auto 60px auto;
  }
}

.offer-content {
  margin-top: 10px;

  &__separator {
    width: 100%;
    border: 1px solid #222222;
  }

  &__title {
    font-weight: 600;
    font-size: 38px;
    line-height: 46px;
    margin-bottom: 40px;
  }

  &__country-tab-wrapper {
    margin-bottom: 24px;
  }

  &__form-wrapper {
    width: 1002px !important;
    display: flex;
    justify-content: space-between;
  }

  &__block {
    margin-top: 60px;
    margin-bottom: 60px;
    max-width: 660px;

    &__team-member {
      margin-bottom: 35px;

      &:last-child {
        margin-bottom: 0;
      }

      &__upload-files-title {
        cursor: pointer;
        padding-left: 26px;
        margin-bottom: 5px;
        background: url("../../assets/img/attach-file-icon.svg") no-repeat left center;
      }
    }

    &__title {
      font-weight: 600;
      font-size: 24px;
      line-height: 28px;
    }

    &__subtitle {
      margin-top: 12px;
      font-size: 14px;
      line-height: 22px;
    }

    &__list {
      margin-top: 24px;

      &__item {
        display: flex;
        margin-bottom: 16px;
        width: 410px;

        &__inner {
          margin-left: 12px;
        }

        &__title {
          font-weight: 600;
          font-size: 16px;
          line-height: 24px;
        }
      }
    }
  }

  &__additional-info {
    max-width: 432px;
    margin-top: 12px;
  }

  &__form {
    margin: 32px 0;

    &__inner {
      display: flex;
      align-items: center;
      margin-top: 16px;

      &:first-child {
        margin-top: 0;
      }

      &__input {
        opacity: 0;
        position: absolute;

        &:checked ~ &__radio {
          border: 2px solid #FF4A78;
          opacity: 1;

          &:after {
            display: block;
          }
        }

        &:hover ~ &__radio {
          border: 2px solid #FF4A78;
          opacity: 0.5;
        }

        &__radio {
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          width: 32px;
          height: 32px;
          border-radius: 100%;
          opacity: 0.5;
          border: 2px solid #FFFFFF;

          &:after {
            content: '';
            display: none;
            width: 14px;
            height: 10px;
            background: transparent url("../../assets/img/success.svg") no-repeat center;
            background-size: contain;
          }
        }
      }

      &__block {
        margin-left: 16px;

        &__title {
          font-weight: 600;
          font-size: 24px;
          line-height: 32px;
        }

        &__subtitle {
          font-size: 16px;
          line-height: 24px;
          opacity: 0.5;
        }
      }
    }
  }

  &__buttons {
    margin-top: 25px;
    display: flex;

    &__button {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 32px;
      max-height: 56px;
      height: 56px;
      margin-right: 8px;
      text-align: center;
    }
  }

  &__bottom-alert {
    margin-top: 32px;
    font-size: 12px;
    line-height: 15px;
    color: rgba(255, 255, 255, 0.5);
  }
}

.additional-offer-info {
  input + label {
    opacity: 0.5;
  }
}

.offer-almost-done {
  & .offer-content__buttons__button {
    padding: 0;
  }

  &__left-field {
    margin: 16px 0;

    &__title {
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
    }

    & .offer-content__block__list {
      margin-top: 0;
    }
  }
}

.offer-complete {
  margin-top: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  & .offer-content__title {
    display: flex;
    align-items: center;
  }

  &__title-image {
    width: 40px;
    margin-right: 10px;
    height: 40px;
    background: url("../../assets/img/success.svg") no-repeat center;
    background-size: contain;
  }

  & .offer-content__block {
    margin-top: 0;

    &__title {
        width: 710px;
    }

    &__subtitle {
      margin-right: auto;
      margin-left: auto;
      width: 432px;
    }
  }
}
