.film-reviews {
  width: 100%;
  margin: 0 auto;

  &__items {
    margin: 60px auto;

    &__item {
      margin-top: 60px;
      max-width: 770px;
      display: flex;

      &:first-child {
        margin-top: 0;
      }

      &__logo {
        margin-right: 22px;
        width: 90px;
        height: 90px;
      }
    }
  }
}
