.home {
  width: 100%;

  &__content {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    &::before {
      content: '';
      background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
      filter: blur(200px);
      display: block;
      width: 680px;
      height: 430px;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__displaying-views {
    margin: 25px 0px 20px;

    &__wrapper {
      display: flex;
      justify-content: flex-end;
    }

    &__list {
      display: flex;
      align-items: center;

      &__item {
        margin-right: 25px;
        cursor: pointer;

        &:last-child {
          margin-right: 0px;
        }

        &--active {
          & > svg > g {
            opacity: 1;
          }
        }
      }
    }
  }
  &__film-card-container {
    transition: all .5s ease-in-out;
    overflow-x: hidden;
    width: 49%;
  }

  &__film-strip-container {
    transition: all .5s ease-in-out;
    width: 49%;
  }
}

.home[data-film-view="max"] {

  .home__content {
    &::before {
      width: 1030px;
      height: 660px;
    }
  }

  .home__film-card-container {
    transition: all .5s ease-in-out;
    width: 74.5%;
  }

  .home__film-strip-container {
    transition: all .5s ease-in-out;
    width: 23.6%;

    & .film-strip {
      max-height: 950px;

      &__cards {
        .card {
          &:nth-child(odd) {
            margin-right: 0px;
          }
        }
      }
    }
  }
}
