.search-modal {
  padding-top: 33px;
  padding-bottom: 42px;
  z-index: 1001;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  background: #000;

  &__input {
    width: 660px;
    height: 40px;
    background: rgba(255, 255, 255, 0.1);
    padding: 8px 0px 10px 12px;
    border: none;
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
    color: #FFFFFF;
    outline: none;
  }

  &__clear-input {
    cursor: pointer;
    margin-left: 18px;
  }

  &__content {
    height: 490px;
    margin-top: 16px;
    width: 100%;
  }

  &__close-button {
    margin-top: 69px;
    background: none;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    font-feature-settings: 'case' on;
    color: #FFFFFF;
  }

  input::placeholder {
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #FFFFFF;
    opacity: 0.5;
  }
}
