.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  transition: all .3s ease-in-out;

  &--sticky {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 5;
    margin: 0;
    justify-content: space-around;
    padding: 14px 0;
    background: #000000;
    transition: all .3s ease-in-out;
  }

  &__logo {
    display: inherit;

    img {
      display: block;
    }
  }

  &__nav {
    display: flex;
    align-items: center;

    &__item {
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      margin-right: 30px;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        opacity: .7;
      }
    }
  }

  &__propose-project {
    cursor: pointer;
    font-weight: 300;
    font-size: 18px;
  }

  &__user-controls {
    display: flex;
    align-items: center;

    &__item {
      margin-right: 35px;
      cursor: pointer;

      &:last-child {
        margin-right: 0px;
      }

      img {
        display: block;
      }
    }
  }
}