.about-film {
  &__wrapper {
    margin-top: 60px;

    &__header {
      max-height: 520px;
      height: 100%;
    }

    .description-content {
      display: flex;

      &__left{
        &--margin {
          margin-right: 107px;
        }
      }

      &__wrapper {
        margin-top: 27px;
      }

      &__title {
        font-size: 16px;
        line-height: 20px;
        opacity: 0.5;
      }

      &__subtitle {
        margin-top: 5px;
        font-size: 16px;
        line-height: 20px;
        width: 318px;
      }
    }
  }

  &__content {
    margin-top: 65px;

    &__tabs {
      display: flex;
      justify-content: space-between;

      &__tab {
        cursor: pointer;
        text-align: center;
        padding: 17px 0;
        background: #171717;
        width: 100%;
        margin-right: 1px;
        margin-bottom: 1px;
        opacity: 0.5;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;

        &:last-child {
          margin-right: 0;
        }

        &.tab-active {
          background: #333333;
          opacity: 1;
        }

        &:hover {
          opacity: .7;
        }
      }
    }

    &__inner {
      width: 100%;
      background: #121212;
      margin-bottom: 48px;

      &--no-content {
        text-align: center;
        padding: 20px;
      }

      .info-content {
        display: flex;
        position: relative;
        padding-left: 60px;

        &__nav {
          padding-top: 67px;

          .nav-list {
            top: 100px;
          }

          &__items {
            position: sticky;
            top: 100px;

            &::before {
              content: '';
              display: block;
              height: 100%;
              width: 2px;
              background: rgba(255, 255, 255, 0.07);
              position: absolute;
            }

            &__item {
              position: relative;
              margin-left: 16px;
              margin-bottom: 24px;
              opacity: 0.5;

              &.nav-active {
                opacity: 1;

                &::before {
                  content: '';
                  display: block;
                  height: 17px;
                  width: 2px;
                  background: #fff;
                  position: absolute;
                  margin-left: -16px;
                }
              }
            }
          }
        }

        &__inner {
          margin: 60px auto;
          max-width: 912px;

          &__block {
            margin-top: 60px;

            &--without-margin {
              margin-top: 0;
            }

            &--flex {
              padding-top: 60px;
              display: flex;
              flex-wrap: wrap;
              flex-direction: column;

              &:first-child {
                padding-top: 0;
              }
            }

            &__persons {
              display: flex;
              flex-wrap: wrap;
            }

            &__person {
              max-width: 204px;
              margin-right: 24px;

              &:last-child {
                margin-right: 0;
              }
            }

            &__under-title {
              font-size: 14px;
              opacity: 0.5;
            }

            &__title {
              font-weight: 600;
              font-size: 38px;
              line-height: 46px;
            }

            &__img {
              margin-top: 23px;
              position: relative;
              background: rgba(255, 255, 255, 0.07);
            }

            &__description {
              font-size: 16px;
              line-height: 22px;
              margin-top: 24px;
              max-width: 660px;

              &--actor {
                display: block;
                margin-top: 12px;
                text-align: center;
                text-decoration: underline;
                max-width: 204px;
                font-size: 14px;
                line-height: 16px;
              }

              &--actor-role {
                text-align: center;
                margin-top: 5px;
                opacity: 0.5;
              }

              &--mx-550 {
                max-width: 550px;
              }
            }
          }
        }
      }
    }
  }
}
