.nav-line {
  display: flex;

  &__element {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 15px;
    opacity: 0.5;

    &--active {
      opacity: 1;
    }

    &::after {
      content: '';
      background: url("/assets/img/arrow-left.svg") no-repeat right;
      width: 7px;
      height: 12px;
      display: inline-block;
      margin: 0px 13px;
    }

    &:last-child {
      &::after {
        display: none;
      }
    }
  }
}
