.film-description__official-res {
  position: relative;
  margin-right: 20px;

  &.dp-text__blue {
    padding-left: 0;
  }

  a {
    color: inherit;
  }

  &::after {
    content: '•';
    position: absolute;
    margin-left: 24px;
  }

  &:last-child {
    &::after {
      content: '';
      display: none;
    }
  }
}
