a {
  text-decoration: none;
  color: #FFFFFF;
  cursor: pointer;
}

li {
  list-style: none;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  cursor: pointer;
  font-family: 'Montserrat', Arial, Calibri sans-serif;
  font-style: normal;
}
