.film-info {
  display: flex;
  justify-content: space-between;
  max-height: 520px;
  height: 100%;

  &__gallery {
    width: 49%;

    &__screen {
      position: relative;
      background: #333333;
      max-height: 410px;
      width: 100%;
      height: 100%;

      &::before {
        content: '';
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
        filter: blur(200px);
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    &__line {
      padding: 8px 0 5px 16px;
      background: rgba(255, 255, 255, 0.07);

      .gallery-line {
        &__items {
          display: flex;
          flex-direction: row;
          margin-bottom: 15px;
        }

        &__item {
          position: relative;
          cursor: pointer;
          flex-shrink: 0;
          margin-right: 8px;
          max-width: 135px;
          max-height: 84px;
          width: 100%;
          height: 100%;

          &--active {
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
            border: 1px solid #FFFFFF;
            box-sizing: content-box;
          }

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }

  &__description {
    width: 49%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__subtitle {
      font-weight: 600;
      font-size: 24px;
      line-height: 28px;
    }

    &__title {
      &__text {
        font-weight: 600;
        font-size: 38px;
        line-height: 46px;
      }

      &__sub-text {
        font-weight: 600;
        font-size: 24px;
        line-height: 28px;
        margin-top: 16px;
      }

      &__buttons {
        margin-top: 12px;
        display: flex;

        .navlink-button {
          margin-right: 8px;

          div {
            font-weight: 500;
            font-size: 14px;
          }

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }

    &__bottom-buttons {
      margin-top: 47px;
      display: flex;

      a.navlink-button {
        width: 100%;
        margin-right: 8px;

        &:last-child {
          margin-right: 0;
        }
      }

      &__button {
        padding: 17px 0;
      }
    }
  }

  .description-content--line {
    margin-top: 15px;

    &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .line-item {
        margin-top: 15px;
        width: 204px;
        font-size: 16px;
        line-height: 20px;

        &__title {
          opacity: 0.5;
        }

        &__subtitle {
          margin-top: 5px;
        }
      }
    }
  }

  &__banner {
    margin-top: 24px;
    background: #333333;
    width: 100%;
    height: 150px;
    margin-bottom: 10px;
  }
}
