.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px !important;
  transition: all .3s;

  &__logo {
    .header__logo__img--small {
      display: none;
    }

    img {
      display: block;
    }
  }

  &--sticky {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 5;
    margin: 0;
    justify-content: space-around;
    padding: 14px 0;
    background: #000;
    transition: all .3s ease-in-out;

    .header__logo__img {
      display: none;

      &--small {
        display: block;
      }

      &--big {
        display: none;
      }
    }
  }

  &__nav {
    display: flex;
    align-items: center;

    &__item {
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      margin-right: 45px;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        opacity: .7;
      }
    }
  }

  &__propose-project {
    cursor: pointer;
    font-weight: 300;
    font-size: 18px;
  }

  &__user-controls {
    display: flex;
    align-items: center;

    &__item {
      margin-right: 32px;
      cursor: pointer;

      &:last-child {
        margin-right: 0px;
      }

      img {
        display: block;
      }
    }
  }

  &__admin-func {
    &__list {
      display: flex;
      align-items: center;
      font-weight: 500;

      &__item {
        margin-right: 25px;

        &__link {
          opacity: 0.5;

          &:hover {
            opacity: 1;
          }

          &--active {
            opacity: 1;
          }
        }

        &:last-child {
          margin-right: 0;
        }

        &__button {
          font-weight: 500;
          padding: 15px 25px;
        }
      }
    }
  }
}
