.df-jc-start {
  display: flex !important;
  justify-content: flex-start !important;
}

.mt-auto {
  margin-top: auto !important;
}

.mr-24 {
  margin-right: 24px;
}

.visible {
  display: block !important;
}
